<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>  Way 2 Win</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> -->
      <ion-title size="large"> Way 2 Win</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-nav-link routerDirection="forward" [routerLink]="['/trade']">
      <ion-item>
        <ion-label>Trade</ion-label>
      </ion-item>
    </ion-nav-link>
    <ion-item routerDirection="forward" [routerLink]="['/status']">
      <ion-label>Status</ion-label>
    </ion-item>
    <ion-item routerDirection="back" [routerLink]="['/login']">
      <ion-label>Login</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
